.title {
    width: 600px;
    height: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    resize: vertical;
}

.categories {
    width: 600px;
}

.selectedWrapped {
    display: flex;
    justify-content: center;
}

.selected {
    min-height: 30px;
    width: 594px;
    border: 1px solid grey;
    border-radius: 2px;
    padding: 2px;
    padding-top: 6px;
    text-align: left;
    flex-wrap: wrap;
    display: flex;
}

.selectedCategory{
    background-color: lightgray;
    padding: 1px;
    border-radius: 3px;
    margin: 5px;
}

.ckeditor-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

.ckeditor-wrap>* {
    min-width: 620px;
    max-width: 80%;
}

.rdw-editor-main {
    height: auto;
}

.rdw-editor-wrapper {
    border: 1px solid #F1F1F1;
    border-radius: 2px;
    border-collapse: collapse;
}

.public-DraftEditor-content {
    height: 500px;
    overflow: auto;
}

button {
    margin-bottom: 30px;
}